 <!--/**File name:contact.ejs
 * Author's name:Johanna Ponce
 * web site name: Portfolio
 * file description: Contact page view
 */ -->

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' >
    <link rel="stylesheet" href="/Scripts/lib/jquery/dist/jquery.min.js">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><script>// <![CDATA[
$(document).ready(function(){
    
    var from,to,subject,text;
    $("#send_email").click(function(){     
        console.log("inside of the jquery"); 
        to=$("#emailFrom").val();
        subject=$("#emailSubject").val();
        text=$("#emailContent").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
        console.log("Data" + data); 
        if(data=="sent")
        {
            $("#message").empty().html("Email is been sent at "+to+" . Please check inbox !");
            //alert('Email sent');
        }
        $.alert("Email sent","title");

});
    });
});
</script>
    
  </head>
<body>
<!--  nav nav-pills -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <img alt="Brand" src="/images/jpimage_s.png">
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact Me</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- MAIN CONTENT -->
    
    <main class="container">
        <div class="jumbotron">
        <h1><%= title %></h1>
       <!-- <p>Welcome to<%= title %></p> -->
        <form>
            <div class="form-group">
                <label for="emailFrom">Email address</label>
                <input type="email" class="form-control" id="emailFrom" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="emailSubject">Subject</label>
                <input type="text" class="form-control" id="emailSubject" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="emailContent">Message</label>
                <textarea class="form-control" rows="3" id="emailContent" >
                </textarea>
            </div>
            <button type="submit" class="btn btn-default" id="send_email">Submit</button>
        </form>
        </div>
    </main>



    <% include partials/footer.ejs %>