<% include partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main class="container">
     <!--   <h1>Johanna Ponce</h1>
        <p>Welcome to
            <%= title %>
        </p>
-->
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p class="lead">
            <%= msg %></p>

        </div>
    </main>



    <% include partials/footer.ejs %>