 <!--/**File name:rojects.ejs
 * Author's name:Johanna Ponce
 * web site name: Portfolio
 * file description: projects page view
 */ -->
 
<% include partials/header.ejs %>

    <!-- MAIN CONTENT -->

    <main class="container">
        <div class="jumbotron">
            <h1><%= title %></h1>
            <hr class="featurette-divider">
            <br>

            <div class="container marketing">

                <!-- Three columns of text-->

                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-circle" src="/images/project1_s.png" alt="slotMachine_img" width="140" height="140">
                        
                        <h2>Slot Machine</h2>
                        <p>HTML5 Slot Machine game using JavaScript and Web technologies. Assignment for COMP397 - Web Game Programming.</p>
                        <p><a class="btn btn-default" href="http://comp397-ponce-slotmachine.azurewebsites.net/" role="button">View demo &raquo;</a></p>
                    </div>

                    <div class="col-lg-4">
                        <img class="img-circle" src="/images/project2_s.png" alt="alienScape_img" width="140" height="140">
                        <h2>Alien Scape</h2>
                        <p>A JavaScript 2D Arcade scrolling game using the Web API CreateJS to create the interface. Final project for COMP397 - Web Game Programming.</p>
                        <p><a class="btn btn-default" href="http://comp397-ponce-sidescrollergame.azurewebsites.net/" role="button">View demo &raquo;</a></p>
                    </div>

                    <div class="col-lg-4">
                        <img class="img-circle" src="/images/project3_s.png" alt="cubeMan_img" width="140" height="140"><br>
                        <h2>CubeMan</h2>
                        <p>Web application that displays a 3D Humanoid Character composed of primitive cube meshes arranged in a humanoid shape using Three.js JavaScript Library and Typescript. Assignment for COMP392 – Advanced Graphics.</p>
                        <p><a class="btn btn-default" href="http://comp392-ponce-cubeman.azurewebsites.net/" role="button">View demo &raquo;</a></p>
                    </div>

                </div>
                <!-- /.row -->
            </div>
    </main>

    <% include partials/footer.ejs %>