 <!--/**File name:services.ejs
 * Author's name:Johanna Ponce
 * web site name: Portfolio
 * file description: services page view
 */ -->

<% include partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main class="container">
        <div class="jumbotron">
            <h1><%= title %></h1>
                    <hr class="featurette-divider"><br>
            <p class="lead">Providing full featured and cutting edge IT Consulting and Solutions to businesses of all sizes. Outsourced IT services that feel in-house.</p>
        </div>
        
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sofware Product Development. <span class="text-muted">Custom Development</span></h2>
          <p class="lead">I don't just create custom software, I build solutions to your business problems delivering complex world-class software solutions on a variety of technology platforms to clients</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/services_software2.png" alt="Services Software">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Networking Services <span class="text-muted">Because Your network is critical for the success of your business</span></h2>
          <p class="lead"> Design, implement & support your IT network introducing state of the art technologies to optimize and secure your network.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/images/services_networking.png" alt="Services Networking">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Performance Testing Services<span class="text-muted">(PTS)</span></h2>
          <p class="lead">Scale your load testing to uncover the bottlenecks and find the top-end of your product’s performance. Load script creation: Custom load scripts so you don’t have to invest the time and money to become load scripting expert. Expert Analysis: Will interpret your test results to provide you with valuable insights and actionable next steps</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/services_performance.png" alt="Services Performance">
        </div>
      </div>

      <hr class="featurette-divider">

    </main>

    <% include partials/footer.ejs %>