 /**File name:app.css
 * Author's name:Johanna Ponce
 * web site name: Portfolio
 * file description: Custom CSS file
 */ 
 
/**


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
**/